BASE_URL_CLOUD=https://backend-api-development.herokuapp.com/
BASE_URL_LOCAL=http://192.168.5.165:4000/
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=harfa-47425.firebaseapp.com
MAPS_API_KEY=
FIREBASE_DATABASE_URL=https://harfa-47425.firebaseio.com
FIREBASE_PROJECT_ID=harfa-47425
FIREBASE_STORAGE_BUCKET=harfa-47425.appspot.com
FIREBASE_MESSAGING_SENDER_ID=28855864302
FIREBASE_APP_ID=1:28855864302:web:ec0c0de5d989bf1e