BASE_URL_CLOUD=https://backend-api-with-chat-developm.herokuapp.com/
BASE_URL_LOCAL=http://192.168.88.112:4000/
BASE_URL_LOCAL_ALT=http://192.168.5.204:4000/
FIREBASE_API_KEY=
WEB_CLIENT_ID=28855864302-d64sdca1o28dr5fsvmvgvhudflqvc24b.apps.googleusercontent.com
MAPS_API_KEY=
FIREBASE_AUTH_DOMAIN=harfa-47425.firebaseapp.com
FIREBASE_DATABASE_URL=https://harfa-47425.firebaseio.com
FIREBASE_PROJECT_ID=harfa-47425
FIREBASE_STORAGE_BUCKET=harfa-47425.appspot.com
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=